.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.glyphicon {
    font-size: large;
    cursor: pointer;
}

.upload-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upload-form .form-group {
    text-transform: capitalize;
}

.DONE {
  width: 20%;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #2979ff;
  float:right;
  border: none;
  background : none;
}


.upload-overlay-black {
  background: rgba(0, 0, 0, 0);
}

.upload-overlay-white {
  background: rgba(255, 255, 255, 255);
}

.upload-dialog {
  margin:auto;
  margin-top: 100px;
  height: 500px;
  width: 400px;
  background: whitesmoke;
}

.upload-form .form-group {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.upload-form .upload-files {
  overflow-y: auto;
  height: 270px;
}

.upload-form ul ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.upload-form ul h5 {
    padding-right: 15px;
    display: inline-block;
}

.upload-overlay {
  background: black;
}

.lable-dialog {
  height: 10px;
}

.span-filename {
    padding-right: 15px;
    padding-left: 10px;
}

.span-filetype {
    padding-right: 55px;
    padding-left: 27px;
}

.span-heading {
    font-size: 17px;
    font-weight: bold;
}

.Rectangle {
  width: 1352px;
  height: 48px;
  background-color: #4f5965;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.Name {
  width: 296px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1px;
  text-align: left;
  color: #4f5965;
}

.NameKeyColumn {
  width: 296px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1px;
  text-align: left;
  color: #4f5965;
}

.fileNameField{
  width: 296px;
  height: 16px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #4f5965;
}

.CSV {
  width: 80px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  color: #4f5965;
  text-transform: uppercase;
}

.-KB {
  width: 120px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #4f5965;
}

.layer {
  width: 152px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #4f5965;
}

.There-are-5-data-fil {
  width: 220px;
  height: 24px;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  color: #4f5965;
  padding-top: 20px;
}

.Oval-6 {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: solid 1.2px #4f5965;
}

.Search {
  width: 45px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #4f5965;
}

.Oval-74 {
  width: 32px;
  height: 32px;
  border: solid 1.4px #4f5965;
}
.Download---FontAwesome {
  width: 23px;
  height: 24px;
  object-fit: contain;
  font-family: FontAwesome;
  font-size: 24px;
  color: #4f5965;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content:flex-end;
    width : 1352px;
}

.flex-item {
    margin: 5px;
}

.ADD-NEW-DATA-FILES {
  width: 270px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #4f5965;
  padding-top: 15px;
}

.RevenueLastYear {
  width: 288px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  color: #4f5965;
}

.File-Name {
  width: 62px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  color: #4f5965;
  padding-right: 15px;
  padding-left: 10px;
}

.Large-Dialogue-Box-Background {
  width: 450px;
  height: 444px;
  background-color: #ffffff;
  margin:auto;
  margin-top: 100px;
  text-align: left;
}

.Type {
  width: 31px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.14;
  color: #4f5965;
  padding-right: 55px;
  padding-left: 25px;
}

.CSVadded {
  width: 80px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight:bold;
  line-height: 1.14;
  color: #4f5965;
  text-transform: uppercase;
}

.react-bs-container-body table tbody tr.selectedRow td {
  color: white !important;
}

.Download---FontAwesome {
  width: 23px;
  height: 24px;
  object-fit: contain;
  font-family: FontAwesome;
  font-size: 24px;
  color: #4f5965;
}

.Delete---FontAwesome {
  width: 19px;
  height: 24px;
  object-fit: contain;
  font-family: FontAwesome;
  font-size: 24px;
  color: #4f5965;
}

.Add-Button {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
